.container
  .row
    .col-xs-12
      %h1
        Account number: #{ @bank_account.account_number}
        %small
          #{ @bank_account.client}
      = button_tag :new_transaction, id: 'btn-new-transaction', class: 'btn btn-primary' do
        New Transaction

      = link_to bank_accounts_path, class: 'btn btn-default' do
        Back to Bank Accounts

.container
  .row
    .col-xs-12

      = render partial: 'transactions', locals: { bank_account: @bank_account}

= render partial: 'modal_transaction'
= javascript_include_tag 'bank_accounts/show'
:javascript
  $(function() {
    Show.init();
  });
