.container
  .row
    .col-xs-12
      %h1
        Account number: #{ @bank_account.account_number}
        %small
          #{ @bank_account.client}
      = button_tag :new_transaction, id: 'btn-new-transaction', class: 'btn btn-primary' do
        New Transaction

.container
  .row
    .col-xs-12
      %table.table.table-bordered
        %thead
          %tr
            %th Date of transaction
            %th Transaction type
            %th Amount
        %tbody
          - @bank_account.account_transactions.each do |transaction|
            %tr
              %td #{transaction.created_at}
              %td #{transaction.transaction_type}
              %td #{number_to_currency(number_to_money(transaction.amount), unit: '$ ')}
          %tr
            %th
            %th Balance
            %th #{number_to_currency(number_to_money(@bank_account.balance), unit: '$ ')}

#parameters{ data: {bank_account_id: @bank_account.id } }

#modal-transaction.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          New Transaction
      .modal-body
        .row
          .col-xs-12
            .notification
        .row
          .col-xs-6
            %label
              Amount
            = text_field_tag :amount, 0.00, id: 'input-amount', class: 'form-control'
          .col-xs-6
            %label
              Transaction Type
            = select_tag :transaction_type, options_for_select(AccountTransaction::TRANSACTION_TYPES), id: 'select-transaction-type', class: 'form-control'
      .modal-footer
        %button.btn.btn-default{type:'button', data:{dismiss:'modal'}} Close
        %button#btn-save.btn.btn-primary{type:'button'} Save


= javascript_include_tag 'bank_accounts/show'
:javascript
  $(function() {
    Show.init();
  });
